<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723490719489-2pguars1dhtqkds772an9djq6g648uot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723490719489-2pguars1dhtqkds772an9djq6g648uot</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>723490719489-emrbe5s58a4bjfbj67cb831s5f4obee1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC6gqaxGgb1qnnpVx5f6vWP7Dlm37BduyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>723490719489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.habibiKitchenAdmin</string>
	<key>PROJECT_ID</key>
	<string>habibi-kitchen</string>
	<key>STORAGE_BUCKET</key>
	<string>habibi-kitchen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723490719489:ios:e678c85633911652507d00</string>
</dict>
</plist>